/* ### Reset ###  */


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* ###  UTILITY ###  */

/* ###  GENERAL ###  */

main {
    height: 100vh;
}
.mainHeader {
    text-align: center;
    color: #E5004B;
    background-color: #0E1452;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #E5004B;
}
.q1 {
  display: flex; 
  height: 100vh;
  background-color: #0E1452;
  justify-content: center;
  align-items: center;
}
.q2{
  display: flex;
  background-color: white;
  width: 50%;
  height: 50%;
  justify-content: center;
}
.statusAreas {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #726448;
  box-shadow: 10px 10px 25px 10px #000000;
}
.statusTeste > p{
  color: white;
  text-decoration: underline #4B3C28 2px;
}
p {
  font-size: 1.5rem;
  color: #B4ABA2;
}
.menos {
  width: 1.8rem;
  background-color: #524130; 
  transform: rotate(270deg);
  border: none;
}
.heroArea {
  display: flex;
  width: 50%;
  box-shadow: -10px 10px 25px 10px #000000;
  /* background-image: url('img/fighter.png'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}


.sectionTeste {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teste {
  height: 50%;
  width: 50%;
  background-color: #0E1452;
  display: flex;
  box-shadow: -10px 10px #E5004B;
}

.ant {
  width: 2rem;
  transform: rotate(180deg);
}
.prox {
  width: 2rem;
}

.antArea{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  width: 10%;
  
}
.nextArea{
  /* background-color: orange; */
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: end;
}
.herosImagem {
  width: 80%;
  display: flex;
}

