
/* ###  UTILITY ###  */

/* ###  GENERAL ###  */

html {
  color: white;
}

/* Global */

.nav-toggle {
  background-color: transparent;
  border: transparent;
  color: lightseagreen; 
}

.nav-toggle:hover {
  transform: rotate(90deg);
  transition: all 0.3s linear;
}
.navHeader{
  padding: 1.5rem;
}
.links a {
  
  font-size: 1rem;
  text-transform: capitalize;
  
  display: block;
  padding: 0.5rem 1rem;
}

  .show-links {
    height: 10rem;
  
}


@media screen and (max-width:768px){
  .navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
.logo {
  height: 60px;
}