/* ### Reset ###  */


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
  --crl-primary: #0E1452;
  --crl-secundary: #E5004B;
  --clr-background:lightblue;
  --clr-toggle: violet;
  --clr-a:limegreen;
  --clr-b:lightslategray;
  --clr-c:darkorchid;

}

  /* ### GENERAL */

.mainHeader {
    background-color: var(--crl-primary);
    color: var(--crl-secundary);
    text-align: center;
}

/* main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  } */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

body {
  background-color: var(--clr-b);
}
  /*
  =============== 
  Navbar
  ===============
  */
 .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 1px 15px 1px rgb(172, 173, 173)
    
 }
 .logo {
    height: 70px;
   
 }
 .nav-toggle {
    margin: 2.5rem 0 1rem 2.2rem;
    background-color: transparent;
    border-color: transparent;  
 }

 .nav-toggle:hover{
    transform: rotate(90deg);
    transition: all 0.4s linear;
 }

 .links {
   padding-top: 2rem;
    background-color: var(--clr-background);
    height: 0;
    overflow: hidden;
 }
 .show-links {
  height: 10rem;
 }
.show-menu {
  opacity: 1;
}
 @media screen and (min-width:800px) {
  .nav-toggle {
   display: none; 
  }
  .navHeader {
    display: flex ;
    box-shadow: none;
  }
  .navCenter {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    padding: 2rem;
    background-color: #E50;
  
  }
  .links {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: var(--clr-b);
    height: auto;  
}

  .all-links {
    display: flex;
    align-items: center;
    
  }
  .all-links a {
    color: black;
    align-items: flex-end;
  }
  .container-weapons {
    background-color: #0E1452;
   
  }
  .all-btn button{
    background-color: transparent;
    border-color: transparent; 
  }
  .all-btn {
    display: flex;
    flex: row;
    gap: 2rem;
    align-items: center;
  }
  .btn-wp,
  .btn-def,
  .btn-acc{
    position: relative;
  }
  .btn-contentWp,
  .btn-contentDef,
  .btn-contentAcc {
    position: absolute;
    opacity: 0;
  }
  

 }
 .header-first {
  display: flex;
  text-align: center;
  flex-direction: column;
 }
.all-calc {
  color: white;
  height: 100vh;
  background-color: #14142A;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calc-container {
  
  margin-top: 1rem;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 25% 25%;
 
}

.container-imagens {
  border-radius: 10px;
  background-color: #21213A;
  display: flex;
  align-items: center;
}
.container-points {
  
  
  /* background-color: #213a21; */
  padding: 2rem;
}

.container-status {
  background-color: #21213A;
  border-radius: 10px;
  display: grid;
  line-height: 1.87;
  grid-template-columns: auto auto;
  place-items: center;
}
/* .char-img {
  width: 70%;
  
} */
.input-level {
  width: 30%;
  color: white;
  
  background-color: rgba(253, 49, 211,0.5);
  border-color: transparent;
}
.level {
  font-size: 1.3rem;
  margin-top: 2rem;
  display: flex;
  width: 83%;
  justify-content: space-evenly;
  color: rgb(253, 49, 211);

}
.container-img {
  /* background-color: magenta; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.char-btn {
  height: 50px;
}
.img-prev {
  height: 40px;
  transform: rotate(180deg);
  color: #1B8BAD;
  
}
.img-next {
  height:  40px;
}
.img-col button {
  background-color: #1B8BAD;
  border-color: transparent;
  
}
button {
  background-color:transparent;
 
 }
 .line {
  height: 2px;
  background-color:#1B8BAD ;
  width: 25rem;
  
 }
 .img-up {
  height: 20px;
  transform: rotate(270deg);
  
 }
 .prev-btn,
 .next-btn {
  height: 50px;
  border-color: #1B8BAD;
  background-color: #1B8BAD;
  margin:1rem
 }
 .sta-first {
  /* background-color: royalblue; */
 }
.sta-second {
  background-color: #21213A;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}
.img-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sta-col,
.points-col {
  line-height: 2.2rem;
}

 /* .section-calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: olive;

 }
 .container-calc {
  width: 70%;
  border: 2px solid white;
  display: flex;
 
  background-color: yellow;
 }
 .char-img {
   
   width: 100%;
   background-color: #E50;
  }
  .container-status {
    background-color: rgb(9, 226, 38);
    
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
    
  }
 .container-builds{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E5004B;
 }

.btn-col {
  display: flex;
  flex-direction: column;
} */
